@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Presentation.WebApp.Models.CitaModelViewEditar

<form id="formularioEditar" asp-controller="Citas" asp-action="EditarCita" data-ajax="true"
      data-ajax-update="#formularioEditar" data-ajax-mode="replace" data-ajax-complete="enviarCitaEditada" data-ajax-failure="error" >

    <div class="row mt-3 mb-2">

        <div class="col">
            Identificador de la cita:
            <input readonly class="form-control" asp-for="Id" />
        </div>
        <span class="text-danger"></span>
    </div>

    <div class="row mt-3 mb-2">

        <div class="col">
            Nombre del paciente:
            <input readonly class="form-control" asp-for="NombrePaciente">
        </div>
    </div>

    <div class="row mt-3 mb-2">

        <div class="col">
            Fecha y hora de la cita:
            <input type="datetime-local" class="form-control" asp-for="Fecha">
        </div>

    </div>
    <div class="row mt-3 mb-2">

        <div class="col">
            Área de atención:
            <select class="form-control" asp-for="IdArea" asp-items="@ViewBag.areas"></select>

        </div>

    </div>

    <div class="row mt-3 mb-2">

        <div class="col">
            Estatus:

            <select class="form-control" asp-for="IdEstaus" asp-items="@ViewBag.estatus"></select>

        </div>

    </div>
    <div class="row mt-3 mb-2">

        <div class="col">
            Observaciones:
            <textarea class="form-control" asp-for="Observaciones"></textarea>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Editar cita</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/Citas.js" asp-append-version="true"></script>


}